* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label, input, td, th, p {
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration: none;
}

input, button {
    border: none;
    border-radius: 20px;
    padding: 2px 5px;
}

button {
    font-size: 1em;
    padding: 2px 5px;
    cursor: pointer;
}

h1 {
    font-size: 1.8em;
}

body {
    background-color: rgb(0, 133, 133);
}

header {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    padding: 5px;
    width: 95vw;
    border-radius: 20px;
}

.efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
